#ytcc-downloader-panel {
  .double-translation-plugin-download-zhhans-subtitle-btn {
    position: relative;
    top: -36%;
    margin-right: 3px;
    border-radius: 25px;
    border: none;
    opacity: 0.95;
    background-color: #fff;
    outline: none;
  }

  .double-translation-plugin-download-en-subtitle-btn {
    position: relative;
    top: -36%;
    margin-right: 3px;
    border-radius: 25px ;
    border: none;
    opacity: 0.95;
    background-color: #fff;
    outline: none;
  }
}