.csdn {
  .toolbar-menus.csdn-toolbar-fl,
  // .toolbar-container-middle,
  .toolbar-container-right,
  .blog-footer-bottom {
    display: none !important;
  }
  .user-profile-head .user-profile-head-banner {
    height: 2rem !important;
  }
  .toolbar-container{
    .title-article{
      font-size: 1.25rem;
      width: 100%;
    }
  }
}

.csdn.menu {
  .csdn-side-toolbar,
  .user-spm-list,
  .user-influence-list,
  .user-achievement,
  #asideProfile,
  #asideNewComments {
    display: none !important;
  }
}

.csdn.article {
  #asideProfile,
  #asideCategory,
  #asideNewComments,
  #asideNewNps,
  #asideArchive,
  #asideHotArticle,
  #asideSearchArticle,
  #asideCustom,
  #btnMoreComment,
  #footerRightAds,
  .adsbygoogle iframe,
  .kind_person,
  .recommend-box,
  .recommend-right_aside .toolbar-advert {
    display: none !important;
  }
}

.csdn.article {
  .blog-content-box {
    margin-top: 0;
  }
  .template-box {
    margin-bottom: 1em;
  }
  #asidedirectory{
    position: fixed;
    top: 3.6rem;
  }
  #asidedirectory #directory .group_item ,
  #recommend-right #groupfile ,
  #recommend-right #groupfile .groupfile-div {
    max-height: calc(100vh - 8rem) !important;
  }
  // mdn style blockquote
  blockquote {
    margin: 0.5em !important;
    padding: 1em !important;
    border-left: 5px solid #005282 !important;
    background-color: #f4f4f4 !important;
    color: #1b1b1b !important;
  }
}
