.csdn {
  #toolbarBox,
  #csdn-toolbar {
    height: 0 !important;
    min-height: 0 !important;
  }
  .passport-login-container {
    display: none !important;
  }

  #recommendAdBox,
  #mainBox > aside > div.box-shadow.mb8 > div,
  .toolbar-menus.csdn-toolbar-fl,
  .toolbar-container-left,
  .toolbar-container-middle,
  .toolbar-container-right {
    display: none !important;
  }

  .blog-footer-bottom
  .passport-login-tip-container {
    display: none !important;
  }
  
  .user-profile-head .user-profile-head-banner {
    height: 2rem !important;
  }

  
  .toolbar-container{
    height: 0 !important;
    .title-article{
      font-size: 1.25rem;
      width: 100%;
    }
  }
}

.csdn.menu {
  .csdn-side-toolbar,
  .user-spm-list,
  .user-influence-list,
  .user-achievement,
  #asideProfile,
  #asideNewComments {
    display: none !important;
  }
}

// 屏蔽文章页面的广告
.csdn.article {
  #asideProfile,
  #asideCategory,
  #asideNewComments,
  #asideNewNps,
  #asideArchive,
  #asideHotArticle,
  #asideSearchArticle,
  #asideCustom,
  #btnMoreComment,
  #footerRightAds,
  #asideWriteGuide,
  #asideSearchArticle,
  #blogHuaweiyunAdvert,
  #blogColumnPayAdvert,
  .programmer1Box,
  .adsbygoogle iframe,
  .kind_person,
  .recommend-box,
  .recommend-right_aside .toolbar-advert {
    display: none !important;
  }
}


/**
 * 响应式布局
 */


.csdn.article {
  min-width: 900px;
  .main_father.clearfix.d-flex.justify-content-center {
    gap: 16px;
  }

  #mainBox {
    margin-right:  0 !important;
    .blog-content-box {
      margin-top: 0;
    }
  }

  #rightAside {
    margin-left: 0 !important;
  }
}

@media screen and (max-width: 1200px) {
  .main_father.clearfix.d-flex.justify-content-center { 
    display: flex;
    justify-content: center;
  }
  #mainBox {
    width: auto;
  }
  #mainBox main {
    float: none !important;
  }
  .csdn.article #asidedirectory {
    display: none !important
  }
}

.csdn.article {
  
  .template-box {
    margin-bottom: 1em;
  }
  #asidedirectory{
    position: fixed;
    top: 0.5rem;
  }

  aside div.aside-box h3.aside-title{
    background-color: #fff;
  }

  #groupfile.flex-column,
  #groupfile.flex-column .groupfile-div {
    max-height: calc(100vh - 1rem) !important;
  }

  #asidedirectory #directory .group_item {
    max-height: calc(100vh - 5rem) !important;
  }
  
  // mdn style blockquote
  blockquote {
    margin: 0.5em !important;
    padding: 1em !important;
    border-left: 5px solid #005282 !important;
    background-color: #f4f4f4 !important;
    color: #1b1b1b !important;
  }
}
.hljs-ln.hundred {
  width: 800px !important;
}