@import "./variables.scss";

body.read {
  background: $bg-body repeat !important;
  font-size: 18px;
  font-family: "Microsoft YaHei", PingFangSC-Regular, HelveticaNeue-Light, "Helvetica Neue Light",
    sans-serif;
}

body.read .novel-reader-bread {
  box-sizing: border-box;
  width: 800px;
  margin: 1em auto 1em;
  display: flex;
  align-items: center;
  font: 12px/22px PingFangSC-Regular, "-apple-system", Simsun;
  .separate {
    color: rgba(0, 0, 0, 0.4);
  }
  a {
    margin: 0 0.5em !important;
    padding: 0 !important;
    background-color: transparent !important;
  }
  a,
  b {
    padding: 0;
    font-weight: 400;
    font-size: 12px;
    color: #1a1a1a !important;
  }
}

body.read .novel-reader-content {
  box-sizing: border-box;
  background: $bg-content repeat;
  width: 800px;
  margin: 0 auto 1em;
  padding: 2em;
  color: #262626;
  font-weight: 500;
  text-indent: 2em;
  text-align: left;
  border: 1px solid #d8d8d8;
  position: relative;
  .book-mark {
    position: absolute;
    top: 0px;
    right: 48px;
    width: 24px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: -228px -143.5px;
    background-size: 340px;
  }
  br {
    content: "";
    margin: 0.5em 0;
    display: block;
    font-size: 150%;
  }
  p {
    word-wrap: wrap;
    word-break: break-all;
    margin-top: 0.5em;
    line-height: 1.8;
    text-align: justify;
  }
}

body.read .novel-reader-content .novel-reader-content-title {
  display: flex;
  align-items: center;
  text-indent: 0;
  padding: 0 0 0.5em;
  margin: 0 0 0.5em;
  font: 24px/32px PingFangSC-Regular, HelveticaNeue-Light, "Helvetica Neue Light", "Microsoft YaHei",
    sans-serif;
  span {
    font-size: 12px;
    padding: 0 1em;
    margin: 0;
  }
}

body.read .novel-reader-bottom-nav {
  box-sizing: border-box;
  background: $bg-content repeat;
  width: 800px;
  margin: 1em auto 1em;
  height: 70px;
  display: flex;
  align-items: center;
  border: 1px solid #d8d8d8;
  white-space: nowrap;
  a,
  span {
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #333 !important;
    font: 18px/70px PingFangSC-Regular, HelveticaNeue-Light, "Helvetica Neue Light",
      "Microsoft YaHei", sans-serif;
  }
  span {
    color: #ccc !important;
  }
  .separate {
    width: 1px;
    height: 32px;
    border-right: 1px solid #d8d8d8;
  }
  a:hover {
    background: rgba(0, 0, 0, 0.03);
  }
}
